<div class="container">
  <h1>Form Wizard Test Application</h1>
  
  <p>This is a test application for the Form Wizard framework.</p>
  
  <div class="actions">
    <a href="/form" class="btn btn-primary">Start Form</a>
  </div>
</div>